html, body {
    background-color: black;
}

* {
    color: white;
    font-family: 'Roboto', sans-serif;
}

#timeRow {
    margin: auto;
    display: inline;
}

#time {
    font-size: 18vw;
    position: absolute;
    margin-top: 0;
    margin-left: 15vw;


    
}

#ap {
    font-size: 1vw;
    position: relative;
    margin-left: 83vw;
    margin-top: 35vh;
}

