html, body {
    background-color: black;
}

* {
    color: white;
    font-family: 'Roboto', sans-serif;
}

#timeRow {
    margin: auto;
    display: inline;
}

#time {
    margin-top: 35vh;
    font-size: 18vw;
    text-align: center;

    
}

#ap {
    font-size: 1vw;
    position: relative;
    margin-left: 85vw;
    margin-top: -30vh;
}

