html, body {
    background-color: black;
}

* {
    color: white;
    font-family: 'Roboto', sans-serif;
}

#timeRow {
    margin: auto;
    display: inline;
}

#time {
    font-size: 18vw;
    position: absolute;
    margin-top: 0;
    margin-left: 15vw;  
}

#ap {
    font-size: 1vw;
    position: relative;
    margin-left: 83vw;
    margin-top: 25vh;
}

#dateTag {
    font-size: 12px;
    position: relative;
    margin-top: 33vh;
    margin-left: 16vw;
}

#newQuote {
    font-size:14px;
    margin-left: 16vw;
}

#verseText {
    font-size: 12px;
    margin-left: 16vw;    
}

.verseBtn {
    border: none;
    background-color: transparent;
    color: white;
    margin-left: 15.5vw;
    font-size: 10px;
}

.verseBtn:hover {
    opacity: 70%;
}

